doctype html
html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
	body

		p Please enter your credentials 

		div.loginArea
			div.loginMessage
			form(name="login", action="/loginsubmit", method="post")
				div.userNameArea
					input(id="userNameInput", name="UserName", type="text", placeholder="IBM i user profile", autocomplete=	"off")
				div.passwordArea
					input(id="passwordInput", name="Password", type="password", placeholder="Password", autocomplete="off")
				div.submissionArea
					input(id="submitButton", type="submit", value="Sign in")
			
